.about-container {
  min-height: 90vh;
  padding: 50px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fefefe; /* light neutral */
  color: #333;
}

.about-hero{
  padding: 30px;
  font-size: 20px;
}
