.home-container {
  min-height: 90vh;
  padding: 40px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  

}



.hero-section h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #4CAF50;
    font-weight: 600;

}

.hero-section p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto 30px;
    color: #333;

}

.home-buttons {
  margin-top: 20px;
}

.home-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.primary-btn {
  background-color: #4CAF50; /* todo green */
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.secondary-btn {
  background-color: transparent;
  border: 2px solid #4CAF50;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  color: #4CAF50;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.primary-btn:hover {
  background-color: #45a049;
}

