button{
  background-color: green;
}
.formDiv{
   background-color: rgba(255, 255, 255, 0.185);
 border: 2px solid  white;
 width: 445px;
 min-height: 445px;
 padding: 20px;
 box-sizing: border-box;
 
 border-radius: 15px;
 box-shadow: 10px 0px 30px  rgba(147, 144, 144, 0.331);
}
.Form{
 display: flex;
 flex-direction: column;
 gap: 10px;
 align-items: center;
 width: 100%;
 height: 100%;
 justify-content: center;
   padding: 40px 35px;

 

}
.inputWrapper{
  padding-top: 13px;
}
.Form input{
    border: 1.5px solid #ccc;

}



.Form input,.btn,.signup{
 font-size: 20px;
 line-height: 2.5rem;
 padding: 10px;
 width: 330px;
border-radius: 10px;
 
}


.Form .btn{
  color: white;
  font-size:22px ;
  font-weight: bold;
  background-color: #4CAF50;
    border: none;

}
.Form .btn:hover{
  
  background-color: #45a049;
}




 .signup {
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
}
.signup:hover {
  background-color: #4CAF50;
  color: white;
}




.divider {
  margin: 20px 0;  
  height: 1px;
  background-color: #aaa;   
  width: 100%;
}


.signUpDiv{
   background-color: rgba(255, 255, 255, 0.185);
 border: 2px solid  white;
 width: 445px;
 height: 655px;
 border-radius: 15px;
 box-shadow: 10px 0px 30px  rgba(147, 144, 144, 0.331);
}

.nameDiv{
  display: flex;
  flex-direction: column;
  gap:10px
}
.inputWrapper{
    display: flex;
  flex-direction: column;
  gap:10px
}
.loginlink{
  text-decoration: underline;
    color: #2e7d32;
    margin-left: 5px;

}


.hoverbtn:hover {
  background-color: #1b4d1b; 
  transition: background-color 0.3s; 
}







  .error-message{
    color: red;
    width: 300px;
    font-weight:100;
  }