.nav-div{
  background-color:#4CAF50;
  display: flex;
  align-items: center;
  justify-content:space-between;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  padding: 20px 18px;
  
}
.logo h1{
  
  color: white;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;


}
.nav-titles{

  display: flex;
  gap: 40px;
margin-right: 45px;
align-items: center;

}

.nav-titles button{
font-size: 16px;
padding: 8px 10px;
border: 2px solid white;
border-radius:5px ;
background-color: white;
cursor: pointer;}
a{
    text-decoration: none;

}
.navlinks{
    font-size: 18px;
color:white;
font-weight: 500;
}
.active .navlinks{
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}
